* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  background: radial-gradient(
    at 50% 60%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
  user-select: none;
}

h1 {
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
